thesis.pdf

# LaTeX intermediate files
*.aux
*.log
*.bbl
*.blg
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.upa
*.upb

# LaTeX bibliography and compilation files
*.bcf
*.run.xml

# Temporary files created by text editors
*.swo
*.swp

# Temporary files for specific editors
*~
*.backup
*.bak

# Exclude all swap files
*.sw?

# LaTeX build directories
_build/
_build_tex/

# Miscellaneous files
*.dvi
*.ps

# macOS specific files
.DS_Store

